.menu{

  margin-left: 70%;
}



.slider{

  width: 100%;
}

.titulos{

  text-align: center;
  margin-bottom: 30px;
}

.imgServicios{

  width: 153px;
  height: 153px;
  margin-bottom: 20px;

}

.objectosCenter{
  text-align: center;
  justify-content:center;
}

.justificado{
  text-align: justify;
}
