.menu{

  margin-left: 70%;
}

.alto{

  height: 760px;
}

.slider{

  width: 100%;
}

.titulos{

  text-align: center;
  margin-bottom: 30px;
}

.imgServicios{

  width: 153px;
  height: 153px;
  margin-bottom: 20px;

}

.imgproceso{

  width: 70px;
  height: 70px;
  margin-bottom: 20px;

}

.objectosCenter{
  text-align: center;
  justify-content:center;
}

.justificado{
  text-align: justify;
}

.footer{

  background: #343a40;
}


.color-footer{

  color: #fff;
}

.top{

  margin-top: 50px;

}

.color-subfooter{
  background:  #1C2833;
}

.textLeft{
  text-align: center;
}
